<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Cuerpo Docente</h1>

      <h2>Profesores:</h2>
      <p>Ángel Jiménez Molina <br>
          Iván Díaz Campos <br>
      </p>
      <h2>Auxiliares:</h2>
        <p>
        Javiera Ovalle T. <br>
        Jorge Pinto <br>
        José Canto <br>
            Macarena V. Osorio A. <br> </p>
      <h2>Ayudantes:</h2>
            <p>
            Carlos Alberto Vega Hernández <br>
            Catalina Martin D. <br>
            Eduardo Valerio C. <br>
            Juan Gutiérrez T. <br>
            Matías Rojas <br>
            Nicolás Villa Contardo <br>
            Sebastián Donoso <br>
            Sofia Herrera <br>
            Victoria Arce A. <br>
  </p>
	<a href="{% url 'index' %}">Hola, soy un enlace a index</a>
	<br>
	<a href="{% url 'pestaña' %}">Hola, soy un enlace a BIG SPOILER (porfi no entres)</a>
  </body>
</html>
