<!DOCTYPE html>
<html>
<head>
    <title>Franco y tú?</title>
    <meta charset="utf-8">
</head>
<body>
<h1>Franco y tú?</h1>
<h2>No y tú?</h2>
<h3>Bien y tú?</h3>
<h4>Sí y tú?</h4>
<h5>Yo y tú?</h5>
<h6>Mal y tú?</h6>

<div>
    <table>
        <tr>
            <td>Columna 1 - fila 1</td>
            <td>Columna 2 - fila 1</td>
            <td>Columna 3 - fila 1</td>
        </tr>
        <tr>
            <td>Columna 1 - fila 2</td>
            <td>Columna 2 - fila 2</td>
            <td>Columna 3 - fila 2</td>
        </tr>
    </table>
</div>

<a href="{% url 'cuerpo_docente' %}">Hola, soy un enlace a cuerpo docente</a>
<br>
<a href="{% url 'pestaña' %}">Hola, soy un enlace a BIG SPOILER (no entres porfi)</a>


</body>
</html>